body,p{
	background-color:white;
	/*color:#00F700; //hacker green*/
	color:black;
}

h1,h2,h3,h4,h5{
	color: #090;
}

*{
	/*font-family:monospace;*/
}

a{
	color:#00F70;
	
}

pre{
	color:black;
	font-family:monospace;
}
